

.contenedor-graficas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 3rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.grafica {
  width: 100%; /* ocupa todo el ancho disponible */
  max-width: 50rem; /* pero no más de 50rem */
  height: 40rem; /* la altura se ajusta automáticamente */
  aspect-ratio: 16 / 9; /* mantiene proporción (ancho/alto) */
  border-radius: 1rem;
  overflow: hidden;
}

@media (max-width: 760px) {
  .contenedor-graficas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

